* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin-top:0px;
}

.mainContainer {
    width: 100%; 
    max-width: 1440px;  /* 1400px ??? */
    padding: 0 50px;
    box-sizing: border-box;
}

.sectionTitle {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;width:100%;box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    
}

.card img {
    object-fit: cover;
}

.cardTitle  {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutralStar {
    color: var(--main-bg-color)
}

a {text-decoration:none;color:black}



/****** Hebergements And Populaires ***********/
.hebergementsAndPopulaires {
    display: flex;
    justify-content: space-between;
}
@media screen and (min-width:576px){
.hebergementsAndPopulaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 35px;
    box-sizing: border-box;
    
}
}
/****** Hebergements ***********/

@media screen and (min-width:576px){
.hebergements {
    width: 65%;
}
.hebergements h3{position:relative;top:30px}
}

@media screen and (min-width:320px)and (max-width:575.98px){
.hebergements{width:100%;padding:20px;box-sizing: border-box;}

}

.hebergementstitre{display:flex;
                    justify-content:flex-start;
                    font-size:20px;
                    font-weight:900;
                    
                    position:relative; bottom:20px;
                    }

.conteneur{display:grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 20px;
            }
.box{display:flex;}

.boxtitre{display:flex;flex-direction:column;
            
            }


.box img{border-radius:20px 20px 0px 0px;
        width:100%;
        height:130px;
        object-fit:cover}

.box .cardRating {
            margin-bottom: 7px;
            margin-top:7px
        }

.box .cardSubtitle {
            margin: 0;
        }
.box .cardTitle {
            
            margin-bottom: 4px;
        }


/****** Populaires ***********/
@media screen and (min-width:576px){
.populaires {
    width: 31%;
}
}

@media screen and (min-width:320px)and (max-width:575.98px){
    .populaires{width:100%;background-color:var(--main-bg-color);padding:20px;box-sizing: border-box;}
}

.populairesTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populairesCards .card {
    display: flex;
    margin-top: 33px;
}

.populairesCards img {
    width: 37%;
    height: 134px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    
}

.populairesCards .cardContent {
    width: 63%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.populairesCards .cardTitle {
    margin-top: 11px;
    margin-bottom: 4px;
}

.populairesCards .cardSubtitle {
    margin: 0;
}

.populairesCards .cardRating {
    margin-bottom: 7px;
}

/****** Media queries ***********/
@media screen and (min-width:575.99px) and (max-width: 991.98px) {
    .hebergementsAndPopulaires {
        flex-direction: column;gap:20px;width:100%
    }
    .populaires{width:100%;display:flex;flex-direction:column}
    .populairesCards{display:grid;grid-template-columns: 1fr 1fr 1fr;gap:10px}
    .hebergements{width:100%}
    .populairesCards .card{width:95%;gap:10px;align-items:center}
    .filtres{flex-wrap:wrap}
    .a4 img{height:200px}
    
    
}

@media screen and (min-width:320px) and (max-width: 575.98px) {.fa-magnifying-glass{color:white}
input[type=submit]{display:none}
.f1{display:flex;border:solid #d9d9d9 3px;align-items:center;padding-right:0px;border-radius:40px;height:fit-content;width:40%;justify-content:center}
.filtres{flex-direction:column;align-items:none;}
.filtrecadre{display:flex;width:100%;gap:10px;justify-content:center;flex-wrap:wrap}
.hebergementsAndPopulaires {
    flex-direction: column-reverse;gap:20px}
    .hebergements{width:100%}
    .conteneur{grid-template-columns: 1fr;}
    .a3{flex-direction:column;gap:20px}
    .a4 img{height:150px}
    .footer{flex-direction:column;margin:0;padding:0}
    footer{max-width:575.98px;margin:0}
    body{margin:0}
    .mainContainer{padding:0}
   .fa-money-bill-wave{padding-left:5px;padding-right:5px}
   .fa-person{padding-left:5px;padding-right:5px;}
    .fa-heart{padding-left:5px;padding-right:5px}
    .fa-fire{padding-right:5px;padding-left:5px}
    .cardtext{justify-content:flex-end;padding-left:10px}

    

}
@media screen and (min-width:576px) {button[type=submit]{display:none}
                                .a3{gap:2%}




}
/*****Image media querie******/
@media screen and (min-width:991.99px){.a4 img{height: 340px;}}






/*****header********/
@media screen and (min-width:320px) and (max-width: 575.98px){
    .media-header{display:flex;flex-direction:column-reverse;align-items:center;margin-top:20px;width:100%}
    .header{display:flex;justify-content:space-around;width:100%;margin-top:10px}
    .menu {display: flex;
        justify-content: center;
        align-items: center;
        height:40px;
        text-decoration:none;
        color:black;width:100%
        }
        .menu:hover{border-bottom:3px #0065fc solid;
            height:35px;
            color:#0065fc}
}

@media screen and (min-width:575.99px){
.header {display:flex;
        justify-content:flex-end;
         gap: 20px;
        }
.menu {

    
    display: flex;
    justify-content: center;
    align-items: center;
    height:40px;
    text-decoration:none;
    color:black
    
  }

.menu:hover{border-top:3px #0065fc solid;
height:35px;
color:#0065fc}
                                    }



main{margin-top:20px}

.tiledbackground {
    background-image:url(./images/logo.png);
    background-size: 60px;
    background-position:top;
    background-repeat:no-repeat;
    width: 80px;
    height:23px;
    
  }


/******* NAV *******/
@media screen and (min-width:320px) and (max-width:575.99px){
    .media-form{padding-left:10px}
    .media-search{display:flex;justify-content:center;width:100%}
}
  form{display:flex;
    justify-content:flex-start;
    height:40px;
    
       
}
  
  label{display:flex;
        height:40px;
        width:40px;
        background-color:var(--main-bg-color);
        border-radius:10px 0px 0px 10px}



.fa-location-dot{ color:black;
                    
                    margin:auto
                   


                    }
.search{
        
    border-radius:0px 0px 0px 0px;
border:var(--main-bg-color) 1px solid;
margin:0px;
font-weight:bold;
font-size:large

}

#placeholder{color:black;
            font-weight:bold}


.submit{background-color:#0065FC;
        color:white;
        font-weight:bold;
        border-radius:0px 10px 10px 0px;
        border:#0065FC;
        font-size:large
        }
button{background-color:#0065FC;
    border-radius:10px;
border:none;}


/******Filtres*********/

.economique{display:flex;
            border:solid #d9d9d9 3px;
            justify-content:center;
            align-items:center;
            padding-right:30px;
            border-radius:40px 40px 40px 40px;
            height:fit-content;
            font-size:17px
            
            }
           
            @media screen and (min-width:576px){


                .filtres{display:flex;
        justify-content:flex-start;
        gap:10px;
        margin-top:20px;
        margin-bottom:20px;
        align-items:center;width:100%;
        }

                .f1{display:flex;border:solid #d9d9d9 3px;justify-content:center;align-items:center;padding-right:30px;border-radius:40px;height:fit-content;}
.filtrecadre{display:flex;width:100%;flex-direction:flex-start;gap:20px;justify-content:flex-start;flex-wrap:wrap}


.fa-money-bill-wave{display:flex;
                    padding-right:10px;
                    padding-left:30px}



.fa-person{display:flex;
            padding-left:30px;
            padding-right:10px;
            }



.fa-heart{display:flex;
            padding-left:30px;
            padding-right:10px}



.fa-fire{display:flex;
        padding-right:10px;
        padding-left:30px}
}


.f1:hover{background-color:#DEEBFF}


.fa-info{display:flex;
    border:solid #d9d9d9 2px;
       padding:15px;
        border-radius:50% 50% 50% 50% / 50% 50% 50% 50%
        }
.info{display:flex;
align-items:center;
gap:10px;
padding:10px}

/*** Activités***/


@media screen and (min-width:575.98px){
.a1{width:100%;display:flex;flex-direction:column;box-sizing: border-box;}
}
@media screen and (min-width:320px)and (max-width:575.98px){
    .a1{width:100%;display:flex;flex-direction:column;box-sizing: border-box;padding:20px}   
}


.a2{display:flex}

.a3{display:flex;width:100%;}

.a4{display:flex;flex-direction:column;border-radius:20px;width:100%;box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;}

.a4 img{border-radius:20px 20px 0px 0px;width:100%;object-fit:cover}
.a4 h2{margin-top:20px;margin-bottom:20px;padding-left:10px}



/*******Footer******/

.footer{background-color:var(--main-bg-color);
        display:flex;
        justify-content:flex-start;
        padding-left:5px;
        margin-top:40px;
        gap:20%;
        width:100%

        }

.bloc{padding-right:10px;padding-left:10px}



                    
